# This rule is not used by the project aws-fis-controller itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the fis.fis.dksshddl.dev.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: aws-fis-controller
    app.kubernetes.io/managed-by: kustomize
  name: experiment-editor-role
rules:
- apiGroups:
  - fis.fis.dksshddl.dev
  resources:
  - experiments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - fis.fis.dksshddl.dev
  resources:
  - experiments/status
  verbs:
  - get
