---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - create
  - get
  - list
  - update
- apiGroups:
  - fis.fis.dksshddl.dev
  resources:
  - experimenttemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - fis.fis.dksshddl.dev
  resources:
  - experimenttemplates/finalizers
  verbs:
  - update
- apiGroups:
  - fis.fis.dksshddl.dev
  resources:
  - experimenttemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  - roles
  verbs:
  - create
  - delete
  - get
  - list
  - update
